table {
	border: medium solid #fec816;
	border-collapse: collapse;
	width: 100%;
}
th {
	font-family: monospace;
	border: thin solid #fec816;
	width: 
	padding: 5px;
	background-color: rgba(254, 200, 22, 0.31);
}
td {
	font-family: sans-serif;
	border: thin solid #fec816;
	width: 
	padding: 5px;
	text-align: center;
	background-color: #ffffff;
}
caption {
	font-family: sans-serif;
}

#VHistoire{
	margin-top: 54px;

}
#VTerrain{
	margin-top: 1150px;
}

#RA {
	margin-top: 685px;
}
#RT {
	margin-top:900px; 
}
.Adresse{
	text-align: center;
}

.icones{
	font-size: 50%;
}

.slide{
	width: 50%;
	height: 50%;
}

.mainBanner{
	margin-bottom: 60px;
}
.headerLigue{
	margin-bottom: -132px;
}